@model int;

@{
    string tokeny = LodeNaVode.Controllers.PripravaController.tokeny.ToString("N").Split(",")[0].Split(".")[0];
    //Ceny
    //Malé
    string cenaLodiMetodej = LodeNaVode.Controllers.PripravaController.cenaLodiMetodej.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiBorivoj = LodeNaVode.Controllers.PripravaController.cenaLodiBorivoj.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiCyril = LodeNaVode.Controllers.PripravaController.cenaLodiCyril.ToString("N").Split(",")[0].Split(".")[0];
    //Střední
    string cenaLodiKrtecek = LodeNaVode.Controllers.PripravaController.cenaLodiKrtecek.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiIlias = LodeNaVode.Controllers.PripravaController.cenaLodiIlias.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiCapek = LodeNaVode.Controllers.PripravaController.cenaLodiCapek.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiVaclavII = LodeNaVode.Controllers.PripravaController.cenaLodiVaclavII.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiMacha = LodeNaVode.Controllers.PripravaController.cenaLodiMacha.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiLibuse = LodeNaVode.Controllers.PripravaController.cenaLodiLibuse.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiPalach = LodeNaVode.Controllers.PripravaController.cenaLodiPalach.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiMasaryk = LodeNaVode.Controllers.PripravaController.cenaLodiMasaryk.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiSvatopluk = LodeNaVode.Controllers.PripravaController.cenaLodiSvatopluk.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiGott = LodeNaVode.Controllers.PripravaController.cenaLodiGott.ToString("N").Split(",")[0].Split(".")[0];
    //Velké
    string cenaLodiZatopek = LodeNaVode.Controllers.PripravaController.cenaLodiZatopek.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiOdysea = LodeNaVode.Controllers.PripravaController.cenaLodiOdysea.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiKarelIV = LodeNaVode.Controllers.PripravaController.cenaLodiKarelIV.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiZizka = LodeNaVode.Controllers.PripravaController.cenaLodiZizka.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiNemcova = LodeNaVode.Controllers.PripravaController.cenaLodiNemcova.ToString("N").Split(",")[0].Split(".")[0];
    //Počet
    //Malé
    string pocetLodiMetodej = LodeNaVode.Controllers.PripravaController.pocetLodiMetodej.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiBorivoj = LodeNaVode.Controllers.PripravaController.pocetLodiBorivoj.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiCyril = LodeNaVode.Controllers.PripravaController.pocetLodiCyril.ToString("N").Split(",")[0].Split(".")[0];
    //Střední
    string pocetLodiKrtecek = LodeNaVode.Controllers.PripravaController.pocetLodiKrtecek.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiIlias = LodeNaVode.Controllers.PripravaController.pocetLodiIlias.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiCapek = LodeNaVode.Controllers.PripravaController.pocetLodiCapek.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiVaclavII = LodeNaVode.Controllers.PripravaController.pocetLodiVaclavII.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiMacha = LodeNaVode.Controllers.PripravaController.pocetLodiMacha.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiLibuse = LodeNaVode.Controllers.PripravaController.pocetLodiLibuse.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiPalach = LodeNaVode.Controllers.PripravaController.pocetLodiPalach.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiMasaryk = LodeNaVode.Controllers.PripravaController.pocetLodiMasaryk.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiSvatopluk = LodeNaVode.Controllers.PripravaController.pocetLodiSvatopluk.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiGott = LodeNaVode.Controllers.PripravaController.pocetLodiGott.ToString("N").Split(",")[0].Split(".")[0];
    //Velké
    string pocetLodiZatopek = LodeNaVode.Controllers.PripravaController.pocetLodiZatopek.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiOdysea = LodeNaVode.Controllers.PripravaController.pocetLodiOdysea.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiKarelIV = LodeNaVode.Controllers.PripravaController.pocetLodiKarelIV.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiZizka = LodeNaVode.Controllers.PripravaController.pocetLodiZizka.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiNemcova = LodeNaVode.Controllers.PripravaController.pocetLodiNemcova.ToString("N").Split(",")[0].Split(".")[0];
}

<h1>Výběr lodí⚓</h1>
<div class="mena">Vaše tokeny:  <span class="curr">@tokeny¤</span></div>
<br />

<div class="skupina-nazev">
    <h2>Malé</h2>
</div>
<div class="lodicky">
   
    <div class="card">
        <div class="contentik">
            <img src="/img/M_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusMetodej"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusMetodej"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiMetodej</p>
        </div>
        <div class="nazev">
            <p>Metoděj</p>
        </div>
        <div class="cena">
            <p>@cenaLodiMetodej¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Borivoj.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusBorivoj"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusBorivoj"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiBorivoj</p>
        </div>
        <div class="nazev">
            <p>Bořivoj</p>
        </div>
        <div class="cena">
            <p>@cenaLodiBorivoj¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Cyril.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusCyril"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusCyril"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiCyril</p>
        </div>
        <div class="nazev">
            <p>Cyril</p>
        </div>
        <div class="cena">
            <p>@cenaLodiCyril¤</p>
        </div>
    </div>
</div>




<div class="skupina-nazev-stredni">
    <h2>Střední</h2>
</div>
<div class="lodicky-stredni">

    <div class="card">
        <div class="contentik">
            <img src="/img/Krtecek.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusKrtecek"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusKrtecek"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiKrtecek</p>
        </div>
        <div class="nazev">
            <p>Krteček</p>
        </div>
        <div class="cena">
            <p>@cenaLodiKrtecek¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/L_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusIlias"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusIlias"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiIlias</p>
        </div>
        <div class="nazev">
            <p>Ilias</p>
        </div>
        <div class="cena">
            <p>@cenaLodiIlias¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/M_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusCapek"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusCapek"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiCapek</p>
        </div>
        <div class="nazev">
            <p>Čapek</p>
        </div>
        <div class="cena">
            <p>@cenaLodiCapek¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Vaclav II..png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusVaclavII"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusVaclavII"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiVaclavII</p>
        </div>
        <div class="nazev">
            <p>Václav II.</p>
        </div>
        <div class="cena">
            <p>@cenaLodiVaclavII¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/K_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusMacha"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusMacha"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiMacha</p>
        </div>
        <div class="nazev">
            <p>Mácha</p>
        </div>
        <div class="cena">
            <p>@cenaLodiMacha¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Libuse.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusLibuse"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusLibuse"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiLibuse</p>
        </div>
        <div class="nazev">
            <p>Libuše</p>
        </div>
        <div class="cena">
            <p>@cenaLodiLibuse¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Pishinger2.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusPalach"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusPalach"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiPalach</p>
        </div>
        <div class="nazev">
            <p>Palach</p>
        </div>
        <div class="cena">
            <p>@cenaLodiPalach¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Masaryk.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusMasaryk"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusMasaryk"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiMasaryk</p>
        </div>
        <div class="nazev">
            <p>Masaryk</p>
        </div>
        <div class="cena">
            <p>@cenaLodiMasaryk¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Svatopluk.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusSvatopluk"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusSvatopluk"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiSvatopluk</p>
        </div>
        <div class="nazev">
            <p>Svatopluk</p>
        </div>
        <div class="cena">
            <p>@cenaLodiSvatopluk¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/Karel_Gott.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusGott"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusGott"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiGott</p>
        </div>
        <div class="nazev">
            <p>Karel Gott</p>
        </div>
        <div class="cena">
            <p>@cenaLodiGott¤</p>
        </div>
    </div>

</div>





<div class="skupina-nazev-stredni">
    <h2>Velké</h2>
</div>
<div class="lodicky-velke">

    <div class="card">
        <div class="contentik">
            <img src="/img/M_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusZatopek"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusZatopek"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiZatopek</p>
        </div>
        <div class="nazev">
            <p>Zátopek</p>
        </div>
        <div class="cena">
            <p>@cenaLodiZatopek¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/K_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusOdysea"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusOdysea"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiOdysea</p>
        </div>
        <div class="nazev">
            <p>Odysea</p>
        </div>
        <div class="cena">
            <p>@cenaLodiOdysea¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/L_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusKarelIV"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusKarelIV"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiKarelIV</p>
        </div>
        <div class="nazev">
            <p>Karel IV.</p>
        </div>
        <div class="cena">
            <p>@cenaLodiKarelIV¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/L_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusZizka"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusZizka"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiZizka</p>
        </div>
        <div class="nazev">
            <p>Žižka</p>
        </div>
        <div class="cena">
            <p>@cenaLodiZizka¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/L_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusNemcova"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusNemcova"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiKarelIV</p>
        </div>
        <div class="nazev">
            <p>Božena Němcová</p>
        </div>
        <div class="cena">
            <p>@cenaLodiNemcova¤</p>
        </div>
    </div>
</div>





<div class="btn-go">
    <a href="/Priprava/Rozmisteni">GO!</a>
</div>




